body {
    background-color: #efefef;
}

.main {
    background-color: white;
    margin: 30px;
}

.btn-publish {
    float: right;
    margin-bottom: 15px;
}

.media-object {
    width: 38px;
    height: 38px;
}


.text-desc {
    font-size: 12px;
    font-weight: normal;
    color: #999;
}

.profile .section {
    margin-top: 15px;
}
.community_menu{
    color: #999;
}
/*评论样式*/
.comment{
    margin: 10px 0;
}
/*回复按钮样式*/
.btn-comment{
    margin-bottom: 10px;
}
/*鼠标悬浮变成小手*/
.icon{
    cursor: pointer;
}
.icon:hover{
    color:deepskyblue;
}
.sub-comments{
    border: 1px solid #eee;
    margin-top: 10px;
    border-radius: 5px;
    padding-top: 15px;
    margin-bottom: 15px;
}