<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${question.title}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/community.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js" type="application/javascript"></script>

</head>
<body>
<div th:insert="~{navigation :: nav}"></div>
<div class="container-fluid main profile">
    <!--一行下面定两个div 一左一右 栅格布局,页面被分为12块-->
    <div class="row">
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
            <h4><span th:text="${question.title}"></span></h4>
            <span class="text-desc">
                 作者:<span th:text="${question.user.name}"></span> |
                 发布时间:<span th:text="${#dates.format(question.gmtCreate,'yyyy-MM-dd')}"></span>
               | 阅读数 :<span th:text="${question.viewCount}"></span>
            </span>
            <hr>
            <div col-lg-12 col-md-12 col-xs-12 th:text="${question.description}">
            </div>
            <hr>
            <a th:href="@{'/question/'+${question.id}}">
                <span class="glyphicon glyphicon-pencil community_menu" aria-hidden="true">编辑</span>
            </a>

        </div>
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12 ">
            <div class="col-lg-12 col-md-12 col-xs-12">
                <div class="media section">
                    <div class="media-left">
                        <a href="#">
                            <img class="media-object img-circle" th:src="${question.user.avatarUrl}">
                        </a>
                    </div>
                    <div class="media-body">
                        <h5 class="media-heading">
                            <a th:text="${question.user.name}" th:href="@{'/question/'+${question.id}}"></a>
                        </h5>
                        <p  style="color: rgb(153,153,153)" th:text="${question.user.bio}"></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-xs-12">
                <h4>相关问题</h4>
            </div>
        </div>

    </div>
</div>
</body>
</html>