<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${question.title}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/community.css">
    <script src="/js/jquery.js"></script>
    <!--<script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js"></script>-->
    <script src="/js/bootstrap.min.js" type="application/javascript"></script>
    <script src="/js/community.js" type="application/javascript"></script>


</head>
<body>
<div th:insert="~{navigation :: nav}"></div>
<div class="container-fluid main profile">
    <!--一行下面定两个div 一左一右 栅格布局,页面被分为12块-->
    <div class="row">
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
            <!--主问题-->
            <div class="col-lg-12 col-md-9 col-sm-12 col-xs-12">

                <h4><span th:text="${question.title}"></span></h4>
                <span class="text-desc">
                 作者:<span th:text="${question.user.name}"></span> |
                 发布时间:<span th:text="${#dates.format(question.gmtCreate,'yyyy-MM-dd')}"></span>
               | 阅读数 :<span th:text="${question.viewCount}"></span>
            </span>
                <hr>
                <!--问题描述-->
                <div col-lg-12 col-md-12 col-xs-12 th:text="${question.description}">
                </div>
                <hr>
                <span th:each="tag : ${question.tag.split(',')}">
                    <span class="glyphicon glyphicon-tags" aria-hidden="true" ></span>
                    <span class="label label-info " th:text="${tag}"></span>
                </span>

                <hr>
                <a th:href="@{'/publish/'+${question.id}}"
                   th:if="${session.user !=null&&session.user.id==question.creator}">
                    <span class="glyphicon glyphicon-pencil community_menu" aria-hidden="true">编辑</span>
                </a>
                <hr>
            </div>
            <!--问题个数-->
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                <h4>
                    <span th:text="${question.commentCount}"></span>个回复
                </h4>
                <hr>
            </div>
            <!--评论列表-->
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                <div class="section media" th:each="comment : ${comments}">
                    <!--评论人头像-->
                    <div class="media-left">
                        <a href="#">
                            <img class="media-object img-circle" th:src="${comment.user.avatarUrl}">
                        </a>
                    </div>
                    <div class="media-body" style="position: relative">

                        <div style="display: inline-block;">
                            <span th:text="${comment.user.name}"></span>
                        </div>
                        <!--时间-->
                        <div style="display: inline-block" class="text-desc"
                             th:text="${#dates.format(comment.gmtCreate,'yyyy-MM-dd')}"></div>
                        <div style="display: inline-block;" th:text="${comment.content}">
                        </div>
                        <div class="text-desc pull-right" style="position: absolute;right: 0;top: 7px;">
                            <!--回复图标-->
                            <span class="glyphicon glyphicon-comment icon" th:data-id="${comment.id}" onclick="collapseComments(this)" th:text="${comment.commentCount}"></span>
                            <!--点赞图标-->
                            <span class="glyphicon glyphicon-thumbs-up icon" style="margin-left: 10px"></span>
                        </div>
                        <!--二级评论-->
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 collapse sub-comments" th:id="${'comment-'+comment.id}">

                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 space-top">
                                <input type="text" class="form-control"  placeholder="请输入评论内容"th:id="${'input-'+comment.id}">
                                <button type="button" class="btn btn-success pull-right btn-publish space-top" onclick="comment(this)" th:data-id="${comment.id}">评论</button>
                            </div>


                        </div>


                    </div>
                    <hr>

                </div>

            </div>
            <!--回复区-->
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 " id="comment-section">

                <div class="media section">
                    <div class="media-left">
                        <a href="#">
                            <img class="media-object img-circle" th:src="${question.user.avatarUrl}">
                        </a>
                    </div>
                    <div class="media-body">
                        <h6>
                            <a th:text="${question.user.name}" th:href="@{'/question/'+${question.id}}"></a>
                        </h6>
                    </div>
                </div>
                <input type="hidden" th:value="${question.id} " id="question-id">
                <textarea id="comment_content" class="form-control comment" rows="6"></textarea>
                <button type="button" class="btn btn-success btn-comment" style="float: right" onclick="post()">回复
                </button>
            </div>

        </div>
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12 ">
            <div class="col-lg-12 col-md-12 col-xs-12">
                <div class="media section">
                    <div class="media-left">
                        <a href="#">
                            <img class="media-object img-rounded" th:src="${question.user.avatarUrl}">
                        </a>
                    </div>
                    <div class="media-body">
                        <h5 class="media-heading">
                            <a th:text="${question.user.name}" th:href="@{'/question/'+${question.id}}"></a>
                        </h5>
                        <p style="color: rgb(153,153,153)" th:text="${question.user.bio}"></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-xs-12">
                <h4>相关问题</h4>
            </div>
        </div>

    </div>
</div>
</body>
</html>