<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${question.title}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/community.css">
    <script src="/js/jquery.js"></script>
    <!--<script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js"></script>-->
    <script src="/js/bootstrap.min.js" type="application/javascript"></script>
    <script src="/js/community.js" type="application/javascript"></script>


</head>
<body>
<div th:insert="~{navigation :: nav}"></div>
<div class="container-fluid main profile">
    <!--一行下面定两个div 一左一右 栅格布局,页面被分为12块-->
    <div class="row">
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
            <!--主问题-->
            <div class="col-lg-12 col-md-9 col-sm-12 col-xs-12">

                <h4><span th:text="${question.title}"></span></h4>
                <span class="text-desc">
                 作者:<span th:text="${question.user.name}"></span> |
                 发布时间:<span th:text="${#dates.format(question.gmtCreate,'yyyy-MM-dd')}"></span>
               | 阅读数 :<span th:text="${question.viewCount}"></span>
            </span>
                <hr>
                <!--问题描述-->
                <div col-lg-12 col-md-12 col-xs-12 th:text="${question.description}">
                </div>
                <hr>
                <a th:href="@{'/publish/'+${question.id}}" th:if="${session.user !=null&&session.user.id==question.creator}">
                    <span class="glyphicon glyphicon-pencil community_menu" aria-hidden="true">编辑</span>
                </a>
                <hr>
            </div>

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                <!--问题回复列表-->
                <h4>
                    <span th:text="${question.commentCount}"></span>个回复
                </h4>
                <hr>
                        <div class="section" >
                            <div class="media-left">
                                <a href="#">
                                    <img class="media-object img-circle" th:src="${question.user.avatarUrl}">
                                </a>
                            </div>
                            <div class="media-body">
                                <div style="margin-top: 7px"></div>
                                <div style="display: inline-block;">

                                        <a th:text="${question.user.name}" th:href="@{'/question/'+${question.id}}"></a>


                                </div>
                                <!--时间-->
                                <div style="display: inline-block" class="text-desc" th:text="${#dates.format(question.gmtCreate,'yyyy-MM-dd')}"></div>
                                <div class="text-desc pull-right" >
                                    <!--回复-->
                                    <span class="glyphicon glyphicon-comment"></span>
                                    <!--点赞-->
                                    <span class="glyphicon glyphicon-thumbs-up" style="margin-left: 10px"></span>
                                </div>
                                <div style="display: inline-block;margin-right: 150px " class="pull-right">
                                        这是回复爱的方式打打分发到大沙发斯蒂芬阿法发顺丰阿发发送到发发发发第三方好结果换地方大幅12123
                                </div>

                            </div>

                        </div>

            </div>
            <!--回复区-->
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 " id="comment-section">
                <hr>
                <div class="media section">
                    <div class="media-left">
                        <a href="#">
                            <img class="media-object img-circle" th:src="${question.user.avatarUrl}">
                        </a>
                    </div>
                    <div class="media-body">
                        <h6>
                            <a th:text="${question.user.name}" th:href="@{'/question/'+${question.id}}"></a>
                        </h6>
                    </div>
                </div>
                <input type="hidden" th:value="${question.id} " id="question-id">
                <textarea id="comment_content" class="form-control comment" rows="6"></textarea>
                <button type="button" class="btn btn-success btn-comment" style="float: right" onclick="post()">回复</button>
            </div>

        </div>
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12 ">
            <div class="col-lg-12 col-md-12 col-xs-12">
                <div class="media section">
                    <div class="media-left">
                        <a href="#">
                            <img class="media-object img-rounded" th:src="${question.user.avatarUrl}">
                        </a>
                    </div>
                    <div class="media-body">
                        <h5 class="media-heading">
                            <a th:text="${question.user.name}" th:href="@{'/question/'+${question.id}}"></a>
                        </h5>
                        <p  style="color: rgb(153,153,153)" th:text="${question.user.bio}"></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-xs-12">
                <h4>相关问题</h4>
            </div>
        </div>

    </div>
</div>
</body>
</html>